*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #000000;
	--background-color: #000000;
	--link-color: #ffffff;
	--link-hover-color: #ffa200;
    font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
	color: #ddd;
	color: var(--text-color);
	background: #000;
	background: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	height: 100vh;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #ddd;
	color: var(--link-color);
	outline: none;
	padding: 0 0 0.15em;
}

a:hover,
a:focus {
	color: #000;
	color: var(--link-hover-color);
	border-color: transparent;
}

#logo {
	position: absolute;
	top: 0;
}

.logo__link {
	text-decoration: none;
	color: none;
}

/* Header */
.header {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	top: -30px;
}

/* Demo links */
.demos {
	margin: 0 0 0 auto;
}

.demo {
	display: inline-block;
	margin: 0 1em 0.5em 0;
	padding: 0 0 0.25em;
}

.demo--current {
	border-color: transparent;
	color: var(--link-hover-color);
	pointer-events: none;
}

/* Content */
.content {
	overflow: hidden;
	padding: 0;
}



@media screen and (max-width: 60em) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.85em;
	}
	.demos {
		width: 100%;
		margin: 1em 0 0;
	}
}
